* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/content-bg.png');
  background-size: cover;
  
}

.wrapper {
  margin: auto;
  width: 1024px;
}

.header {
  position: relative;
  height: 235px;
}

.title__site {
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translate(-50% , 0);
  background-color: white;
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.title__site__text {
  display: block;
  line-height: 140px;
  text-align: center;
  font-size: 60px;
  font-family: "Dorsa";
  color: #263555;
  text-transform: uppercase;
  text-decoration: none;
}

.nav {
  padding-top: 90px;
}

.nav__left, .nav__right{
  width: calc(50% - 70px);
}

.nav__left {
  float: left;
}

.nav__right {
  float: right;
}

.nav__item {
  position: relative;
}

.nav__left>.nav__item {
  display: block;
  margin-right:60px;
  float: right;
}

.nav__right>.nav__item {
  display: block;
  margin-left:60px;
  float: left;
}

.nav__item__link {
  display: inline-block;
  font-size: 24px;
  font-family: "Pathway Gothic One";
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
}

.nav__item__link:hover {
  color: #263555;
}

.sub-menu {
  display: none;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50% , 100%);
  padding: 6px;
}

.sub-menu::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent white transparent;
}

.nav__item:hover>.sub-menu {
  display: block;
}

.sub-menu__link {
  display: block;
  font-size: 20px;
  color: #6b7488;
  font-family: "Pathway Gothic One";
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  
}



.clearfix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
}


.main {
  padding: 60px 60px 135px;
  background-color: white;
}

.slider {
  position: relative;
  width: 100%;
  height: 580px;
}

.slider__control {
  position: absolute;
  bottom: 40px;
  left: 36px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #38afe5;
  padding: 29px 10px;
}

.arrow {
  display: inline-block;
  width: 50%;
  height: 100%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.arrow:hover {
  cursor: pointer;
}

.slider__control>.left {
  text-align: left;
}


.slider__control>.right {
  text-align: right;
}



.slider__first_tagline {
  position: absolute;
  left: 0;
  top: 218px;
  height: 60px;
  padding: 0 20px;
  background-color: #ffffff;
  color: #263555;
  text-transform: uppercase;
  line-height: 60px;
  font-family: "Pathway Gothic One";
  font-size: 22px;
}

.slider__second_tagline {
  position: absolute;
  left: 0;
  top: 278px;
  height: 60px;
  padding: 0 20px;
  background-color: #38afe5;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 60px;
  font-family: "Pathway Gothic One";
  font-size: 32px;
}

.gallery {
  padding-top: 46px;
}

.gallery__item {
  position: relative;
  width: 32%;
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
}

.gallery__item:hover>.gallery__item__details{
  display: block;
}

.gallery__item:nth-child(3n) {
  margin-right: 0;
}

.gallery__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.gallary__item__title {
    font-size: 30px;
    font-family: "Open Sans";
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-stretch: ultra-condensed;
    margin-bottom: 10px;
}

.gallery__item__description {
  font-size: 10px;
  font-family: "Arial";
  color: #cbc6c6;
  line-height: 1.5;
  text-align: justify;
}

.gallery__item__button {
  display: block;
  border-radius: 4px;
  position: absolute;
  bottom: 18px;
  right: 12px;
  height: 20px;
  width: 60px;
  cursor: pointer;
  border: none;
  outline: none;
}


.gallery__img {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.title__section {
  font-size: 32px;
  font-family: "Pathway Gothic One";
  color: #263555;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: lighter;
  margin-bottom: 40px
}

.gallery__item__details {
  display: none;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #193149;
  padding: 10px 10px;
}

.to_top {
  position: fixed;
  outline: none;
  height: 30px;
  width: 30px;
  border: none;
  background-color: #38afe5;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(-90deg);
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
  line-height: 0px;
}

.to_top:hover {
  
}